:root {
  font-size: 16px;
  --border-radius: 0.5rem;

  --primary-background: #f0f2f5;
  --secondary-background: #ffffff;

  --primary-text: #050505;
  --secondary-text: #65676b;

  --accent: #007bff;
  --error: #e53e3e;
  --border: #dddfe2;

  --hover-background: #e0e0e0;
  --press-background: #c0c0c0;
}

/* Horizon Theme */
[data-theme="horizon"] {
  --primary-background: #1c1e26;
  --secondary-background: #232530;

  --primary-text: #e0e0e0;
  --secondary-text: #9da5b4;

  --accent: #31c0f6;
  --error: #e95678;
  --border: #343746;

  --hover-background: #2a2c38;
  --press-background: #313441;
}

/* Dark Theme */
[data-theme="dark"] {
  --primary-background: #121212;
  --secondary-background: #1e1e1e;

  --primary-text: #f0f0f0;
  --secondary-text: #b0b0b0;

  --accent: #4da6ff;
  --error: #e53e3e;
  --border: #333333;

  --hover-background: #282828;
  --press-background: #2f2f2f;
}
